.draw-item {
  background: rgb(165, 165, 165);
  border: 1px solid black;
  transition: color 0.1s ease;
  display: flex !important;
  justify-content: center;
  align-items: center;
  &.is-new {
    background-color: green;
  }
  &.is-circle {
    border-radius: 100%;
  }

  &.is-selected {
    border: 1px dashed red;
  }
}

.react-draggable {
  &-dragging {
    opacity: 0.5;
  }
}

.halfTransparent {
  opacity: 0.5;
}

.wrapper {
  background-image: linear-gradient(
      rgba(131, 131, 131, 0.3) 1px,
      transparent 0.1em
    ),
    linear-gradient(90deg, rgba(131, 131, 131, 0.3) 1px, transparent 1px);
}
